[submodule "bash-installer-common"]
	path = bash-installer-common
	url = https://github.com/kstenerud/bash-installer-common.git
[submodule "virtual-builders"]
	path = virtual-builders
	url = https://github.com/kstenerud/virtual-builders.git
